<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Webite</title>
</head>

  <body>
    {{> header}}

    <p>{{screamIt "Page under Maintenance"}}</p>

    {{> footer}}
  </body>


</html>
